<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <nav class="menu">
                    <button class="menu__btn">
                        <div class="menu__btn-line"></div>
                        <div class="menu__btn-line"></div>
                        <div class="menu__btn-line"></div>
                    </button>
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Магазины</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Акции</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Доставка и оплата</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="logo">
                    <img src="../images/svgElements/logo.svg" alt="logo" class="logo__img">
                </a>
                <div class="header__box">
                    <p class="header__adress">Москва,  ул. Науки  25</p>
                    <ul class="user-list">
                        <li class="user-list__item">
                            <a href="#" class="user-list__link">
                                <svg class="svg-heart-dims">
                                    <use xlink:href="../images/sprite.svg#heart"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="user-list__item">
                            <a href="#" class="user-list__link">
                                <img src="../images/svgElements/user.svg" alt="user">
                            </a>
                        </li>
                        <li class="user-list__item">
                            <a href="#" class="user-list__link">
                                <img src="../images/svgElements/trolley.svg" alt="trolley" class="trolley-icon">
                                <span class="trolley-icon__num">1</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ul class="menu-mobile__list">
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <img class="menu-mobile__img" src="images/svgElements/user.svg" alt="icon">
                <p>Войти</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <img class="menu-mobile__img" src="images/svgElements/user.svg" alt="icon">
                <p>Регистрация</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <img class="menu-mobile__img" src="images/svgElements/heart.svg" alt="icon">
                <p>Избранное</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <img class="menu-mobile__img" src="images/svgElements/trolley.svg" alt="icon">
                <p>Корзина</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <img class="menu-mobile__img" src="images/svgElements/icon-house.svg" alt="icon">
                <p>Магазины</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <img class="menu-mobile__img" src="images/svgElements/icon-precent.svg" alt="icon">
                <p>Акции</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <img class="menu-mobile__img" src="images/svgElements/icon-box.svg" alt="icon">
                <p>Доставка и оплата</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <p>Квадроциклы</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <p>Катера</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <p>Гидроциклы</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <p>Лодки</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <p>Вездеходы</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <p>Снегоходы</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <p>Двигатели</p>
            </a>
        </li>
        <li class="menu-mobile__item">
            <a href="#" class="menu-mobile__link">
                <p>Запчасти</p>
            </a>
        </li>
    </ul>
    <div class="menu-mobile__linewrapper">
        <ul class="menu-mobile__line">
                <li class="menu__item">
                    <a href="#" class="menu__link">Магазины</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Акции</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Доставка и оплата</a>
                </li>
        </ul>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner">
                <ul class="menu-categories">
                    <li class="menu-categories__item">
                        <a href="#" class="menu-categories__link">Квадроциклы</a>
                    </li>
                    <li class="menu-categories__item">
                        <a href="#" class="menu-categories__link">Катера</a>
                    </li>
                    <li class="menu-categories__item">
                        <a href="#" class="menu-categories__link">Гидроциклы</a>
                    </li>
                    <li class="menu-categories__item">
                        <a href="#" class="menu-categories__link">Лодки</a>
                    </li>
                    <li class="menu-categories__item">
                        <a href="#" class="menu-categories__link">Вездеходы</a>
                    </li>
                    <li class="menu-categories__item">
                        <a href="#" class="menu-categories__link">Снегоходы</a>
                    </li>
                    <li class="menu-categories__item">
                        <a href="#" class="menu-categories__link">Двигатели</a>
                    </li>
                    <li class="menu-categories__item">
                        <a href="#" class="menu-categories__link">Запчасти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>