@media (max-width: 1200px) {
    .banner-section {
        &__inner {
            justify-content: space-around;
        }

        &__slider {
            max-width: 600px;
        }

        &__slider-item-img {
            max-width: 600px;
            min-height: 360px;
        }
    }
}

@media (max-width: 1160px) {
    .categories {
        &__inner {
            justify-content: space-around;
        }
    }
}

@media (max-width: 1100px) {
    .header {
        .menu {
            &__item+.menu__item {
                padding-left: 20px;
            }
        }

        &__adress {
            margin-right: 20px;
        }
    }

}

@media (max-width: 968px) {
    .header {
        margin-bottom: 40px;

        .menu {
            &__list {
                display: none;
            }

            &__btn {
                display: block;
                cursor: pointer;
            }

            &__btn-line {
                width: 34px;
                height: 3px;
                border-radius: 3px;
                background-color: $default;
                margin: 8px 0;
            }
        }

        &__bottom {
            display: none;
        }

        .menu-mobile__linewrapper {
            display: block;
            overflow-x: scroll;
            background-color: #f0f0f4;

            .menu-mobile__line {
                width: 450px;
                padding: 14px 0 14px 15px;

                .menu__link {
                    font-family: 'SFProDisplay-Bold', serif;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: normal;
                }
            }
        }
    }

    .banner-section {
        &__inner {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__slider {
            max-width: 100%;
            width: 100%;
        }

        &__slider-item-img {
            max-width: 100%;
            min-height: 360px;
            margin: 0 auto;
        }
    }

    .mobile-overflow {
        min-width: 700px;
    }

    .tabs-wrapper {
        overflow-x: scroll;
    }
}


@media (max-width: 640px) {
    .header {
        &__adress {
            display: none;
        }

        .menu-mobile {
            &__list {
                display: block;
                width: 243px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
                transition: all .3s;
                transform: translateX(-110%);
                background-color: #fff;
                position: absolute;
                z-index: 10;
            }

            &__item {
                border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                position: relative;
            }

            &__link {
                display: block;
                padding-top: 36px;
                padding-left: 53px;
            }

            &__img {
                position: absolute;
                left: 11px;
                bottom: 0;
            }

            &__list--active {
                transform: translateX(0%);
            }
        }
    }

    .banner-section {
        margin-bottom: 40px;

        .container {
            padding: 0;
        }

        &__slider-item-img {
            min-height: 200px;
        }
    }

    .search {
        &__content-form {
            position: relative;
        }

        &__content-input {
            font-size: 18px;
            width: 100%;
            padding: 15px 45px 15px 20px;
            border-radius: 3px;
            background-color: $bg;
        }

        &__content-btn {
            position: absolute;
            right: 0;
            top: 13px;
            width: 24px;
            height: 24px;
            font-size: 0;
            padding: 17px;
            margin-left: 0;
            background-repeat: no-repeat;
            background-image: url(../images/svgElements/search-icon.svg);
            background-color: transparent;
        }
    }
}

@media (max-width: 440px) {
    .banner-section {
        &__slider-item-img {
            min-height: 164px;
        }
    }

    .categories {
        &__item {
            width: 370px;
            padding: 20px 10px 16px;
        }

        &__item-title {
            font-size: 20px;
        }
    }
}