html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-size: inherit;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img[class] {
  object-fit: cover;
  width: 100%;
}

input,
button,
textarea,
select {
  display: block;
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
