.svg-arrow-left-dims {
    width: 16px;
    height: 29px;
}

.svg-arrow-left-black-dims {
    width: 16px;
    height: 29px;
}

.svg-arrow-right-dims {
    width: 17px;
    height: 29px;
}

.svg-arrow-right-black-dims {
    width: 16px;
    height: 29px;
}

.svg-basket-white-dims {
    width: 30px;
    height: 23px;
}

.svg-breadcrumbs-arrow-dims {
    width: 6px;
    height: 11px;
}

.svg-categories-arrow-dims {
    width: 6px;
    height: 9px;
}

.svg-facebook-dims {
    width: 30px;
    height: 30px;
}

.svg-gridbtn-dims {
    width: 23px;
    height: 21px;
}

.svg-heart-dims {
    width: 24px;
    height: 22px;
}

.svg-heart-active-dims {
    width: 24px;
    height: 22px;
}

.svg-instagram-dims {
    width: 30px;
    height: 30px;
}

.svg-line-btn-dims {
    width: 25px;
    height: 19px;
}

.svg-logo-dims {
    width: 80px;
    height: 76px;
}

.svg-old-line-dims {
    width: 60px;
    height: 18px;
}

.svg-rouble-dims {
    width: 16px;
    height: 18px;
}

.svg-rouble-gray-dims {
    width: 8px;
    height: 10px;
}

.svg-target-map-dims {
    width: 30px;
    height: 30px;
}

.svg-trolley-dims {
    width: 30px;
    height: 23px;
}

.svg-user-dims {
    width: 24px;
    height: 24px;
}

.svg-vk-dims {
    width: 30px;
    height: 30px;
}

.svg-youtube-dims {
    width: 30px;
    height: 30px;
}

