@import 'reset';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';
@import 'sprite';

@import '../components/header/header';
@import '../components/banner-section/banner-section';
@import '../components/banner/banner';
@import '../components/breadcrumbs/breadcrumbs';
@import '../components/search/search';
@import '../components/catalog/catalog';
@import '../components/categories/categories';
@import '../components/product-card/product-card';
@import '../components/card-tabs/card-tabs';
@import '../components/product/product';
@import '../components/product-popular/product-popular';
@import '../components/pagination/pagination';
@import '../components/footer/footer';

.tab {
    cursor: pointer;
}

.tabs-content {
    display: none;
}

.tabs-content.tabs-content--active {
    display: block;
}

.rate {
    display: inline-block;
}
