<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__list-item active">
            <span href="#">1</span>
        </li>
        <li class="pagination__list-item">
            <a href="#">2</a>
        </li>
        <li class="pagination__list-item">
            <a href="#">3</a>
        </li>
        <li class="pagination__list-item">
            <a href="#">4</a>
        </li>
        <li class="pagination__list-item">
            <a href="#">5</a>
        </li>
        <li class="pagination__list-item pagination__list-item--dots">
            <span>...</span>
        </li>
        <li class="pagination__list-item">
            <a href="#">11</a>
        </li>
    </ul>
</div>