<section class="categories page-section">
    <div class="container">
        <div class="categories__inner">
            <a class="categories__item" href="#">
                <div class="categories__item-info">
                    <h4 class="categories__item-title">Квадроциклы</h4>
                    <p class="categories__item-text">Подробее</p>
                </div>
                <div class="categories__item-img">
                    <img src="../images/categories/kvadro.png" alt="image">
                </div>
            </a>
            <a class="categories__item" href="#">
                <div class="categories__item-info">
                    <h4 class="categories__item-title">Гидроциклы</h4>
                    <p class="categories__item-text">Подробее</p>
                </div>
                <div class="categories__item-img">
                    <img src="../images/categories/gydro.png" alt="image">
                </div>
            </a>
            <a class="categories__item" href="#">
                <div class="categories__item-info">
                    <h4 class="categories__item-title">Катера</h4>
                    <p class="categories__item-text">Подробее</p>
                </div>
                <div class="categories__item-img">
                    <img src="../images/categories/yacht.png" alt="image">
                </div>
            </a>
            <a class="categories__item" href="#">
                <div class="categories__item-info">
                    <h4 class="categories__item-title">Снегоходы</h4>
                    <p class="categories__item-text">Подробее</p>
                </div>
                <div class="categories__item-img">
                    <img src="../images/categories/snowbike.png" alt="image">
                </div>
            </a>
            <a class="categories__item" href="#">
                <div class="categories__item-info">
                    <h4 class="categories__item-title">Вездеходы</h4>
                    <p class="categories__item-text">Подробее</p>
                </div>
                <div class="categories__item-img">
                    <img src="../images/categories/allroad.png" alt="image">
                </div>
            </a>
            <a class="categories__item" href="#">
                <div class="categories__item-info">
                    <h4 class="categories__item-title">Двигатели</h4>
                    <p class="categories__item-text">Подробее</p>
                </div>
                <div class="categories__item-img">
                    <img src="../images/categories/engine.png" alt="image">
                </div>
            </a>
        </div>
    </div>
</section>