.categories {
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 370px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px;
        border: 1px solid #cdcdcd;
        padding: 20px;
        margin-bottom: 30px;
        transition: all .5s;
        &:hover {
            box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
        }
        &:hover .categories__item-title {
            color: $accent;
        }
    }

    &__item-info {
        width: 50%;
    }

    &__item-title {
        @extend %barlow-bold;
        font-size: 23px;
        color: $default;
        margin-bottom: 52px;
    }
    &__item-text {
        display: inline-block;
        font-size: 14px;
        color: #c4c4c4;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 7px;
            right: -9px;
            width: 6px;
            height: 9px;
            background-image: url(../images/svgElements/categories-arrow.svg);
        }
    }
    &__item-img {
        width: 50%;
        text-align: center;
    }

    &__item-img img {
        max-width: 100%;
    }
}