<section class="banner-section page-section">
    <div class="container">
        <div class="banner-section__inner">
            <div class="banner-section__slider">
                <a class="banner-section__slider-item" href="#">
                    <img src="../images/banner-slider/1.jpg" alt="image" class="banner-section__slider-item-img">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="../images/banner-slider/1.jpg" alt="image" class="banner-section__slider-item-img">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="../images/banner-slider/1.jpg" alt="image" class="banner-section__slider-item-img">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="../images/banner-slider/1.jpg" alt="image" class="banner-section__slider-item-img">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="../images/banner-slider/1.jpg" alt="image" class="banner-section__slider-item-img">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="../images/banner-slider/1.jpg" alt="image" class="banner-section__slider-item-img">
                </a>
            </div>
            <div class="banner-section__item sale-item">
                <div class="sale-item__top">
                    <div class="sale-item__info">акция</div>
                    <div class="sale-item__price">
                        <div class="sale-item__price-new">199 000</div>
                        <div class="sale-item__price-old">225 000</div>
                    </div>
                </div>
                <img src="../images/content/sale-1.png" class="sale-item__img" alt="image">
                <h5 class="sale-item__title">Лодочный мотор 
                    Suzuki DF9.9BRS
                </h5>
                <p class="sale-item__footer">
                    Акция действует до
                    <span>31.08.2020</span>
                </p>
            </div>
        </div>
    </div>
</section>
