<section class="product-card">
    <div class="container">
        <div class="product-card__inner">
            <div class="product-card__img-box product__item--sale">
                <img src="images/content/gydro-2-large.png" alt="image" class="product-card__img">
                <p class="product-card__price-old">1 200 475 ₽</p>
                <p class="product-card__price-new">1 100 475 ₽</p>
                <a class="product-card__link" href="#">Нашли дешевле? Снизим цену!</a>
            </div>
            <div class="product-card__content">
                <h1 class="product-card__title">Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic</h1>
                <p class="product-card__code">Код товара: 366666-2</p>
                <div class="product-card__buttons">
                    <a class="product-card__icon" href="#">
                        <img src="images/svgElements/heart.svg" alt="icon">
                    </a>
                    <a class="product__card-icon product-card__icon-comparsion" href="#">
                        <img src="images/svgElements/compresion.svg" alt="icon">
                    </a>
                    <a class="rate">
                        <div class="rate-yo" data-rateyo-rating="4"></div>
                    </a>
                </div>
                <div class="tabs-wrapper product-card__tabs">
                    <div class="tabs product__tabs">
                        <a class="tab tab--active product-card__tab" href="#product-1">Характеристики</a>
                        <a class="tab product-card__tab" href="#product-2">Наличие в магазине</a>
                    </div>
                    <div class="tabs-container">

                        <div class="tabs-content tabs-content--active product-card__tab-content"
                            id="product-1">
                            <ul class="product-card__list">
                                <li class="product-card__item">
                                    <div class="product-card__item-left">Производитель</div>
                                    <div class="product-card__item-right">Канада</div>
                                </li>
                                <li class="product-card__item">
                                    <div class="product-card__item-left">Количество мест, шт: </div>
                                    <div class="product-card__item-right">3</div>
                                </li>
                                <li class="product-card__item">
                                    <div class="product-card__item-left">Мощность, л.с.</div>
                                    <div class="product-card__item-right">155</div>
                                </li>
                                <li class="product-card__item">
                                    <div class="product-card__item-left">Тип двигателя</div>
                                    <div class="product-card__item-right">Бензиновый</div>
                                </li>
                                <li class="product-card__item">
                                    <div class="product-card__item-left">Год выпуска</div>
                                    <div class="product-card__item-right">2018</div>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-content product-card__tab-content" id="product-2">
                            content-2
                        </div>
                    </div>
                </div>
                <a href="#" class="product-card__more">Показать ещё</a>
                <button class="product-card__btn">Купить</button>
            </div>
        </div>
    </div>
</section>