<section class="catalog">
    <div class="container">
        <h2 class="catalog__title">Гидроциклы</h2>
        <div class="catalog__filter">
            <div class="catalog__filter-items">
                <button>Полноприводные</button>
                <button>от 5000</button>
                <button>BRP</button>
                <button>еще</button>
            </div>
            <div class="catalog__filter-btn">
                <select class="filter-style select-item">
                    <option>По полулярности</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <button class="catalog__filter-btngrid catalog__filter-button">
                    <img src="../images/svgElements/gridbtn.svg" alt="icon">
                </button>
                <button class="catalog__filter-btnline catalog__filter-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="19" viewBox="0 0 25 19"
                        fill="none">
                        <g>
                            <rect x="6" width="19" height="3" rx="1.5" fill="#2F3035" />
                            <rect x="6" y="8" width="19" height="3" rx="1.5" fill="#2F3035" />
                            <rect x="6" y="16" width="19" height="3" rx="1.5" fill="#2F3035" />
                            <rect width="3" height="3" rx="1.5" fill="#2F3035" />
                            <rect y="8" width="3" height="3" rx="1.5" fill="#2F3035" />
                            <rect y="16" width="3" height="3" rx="1.5" fill="#2F3035" />
                        </g>
                    </svg>
                </button>
            </div>
        </div>
        <div class="catalog__inner">
            <aside class="catalog__inner-aside aside-filter">
                <div class="tabs-wrapper">
                    <div class="tabs aside-filter__tabs">
                        <a class="tab aside-filter__tab tab--active" href="#filter-1"><span>Параметры</span></a>
                        <a class="tab aside-filter__tab" href="#filter-2"><span>по марке</span></a>
                    </div>
                    <div class="tabs-container">
                        <div id="filter-1" class="tabs-content aside-filter__tabs-content tabs-content--active">
                            <form class="aside-filter__form">
                                <ul class="aside-filter__list">
                                    <li class="aside-filter__item-drop">
                                        <p
                                            class="aside-filter__item-title filter__item-drop filter__item-drop--active">
                                            Наличие</p>
                                        <div class="aside-filter__content aside-filter__content-radio">
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    В наличие
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    Под заказ
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="aside-filter__item-drop ">
                                        <p
                                            class="aside-filter__item-title filter__item-drop filter__item-drop--active">
                                            Новинки</p>
                                        <div class="aside-filter__content aside-filter__content-radio">
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox"
                                                        name="radio">
                                                    Все
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox"
                                                        name="radio">
                                                    Новинки
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox"
                                                        name="radio">
                                                    Акции
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="aside-filter__item-drop ">
                                        <p
                                            class="aside-filter__item-title filter__item-drop filter__item-drop--active">
                                            Цена</p>
                                        <div class="aside-filter__content">
                                            <input type="text" class="js-range-slider" name="my_range"
                                                value="" data-min="100000" data-max="500000"
                                                data-from="150000" data-to="300000" data-grid="false" />
                                        </div>
                                    </li>
                                    <li class="aside-filter__item-list">
                                        <div class="filter__item-list">
                                            <p class="filter__item-list-title">Мощность, л.с.</p>
                                            <select
                                                class="filter-style filter__item-list-select filter__item-list-select--active">
                                                <option value="90">90</option>
                                                <option value="130">130</option>
                                                <option value="154">154</option>
                                                <option value="230">230</option>
                                                <option value="300">300</option>
                                            </select>
                                        </div>
                                        <div class="filter__item-list">
                                            <p class="filter__item-list-title">Мощность двигателя, л.с.</p>
                                            <select
                                                class="filter-style filter__item-list-select filter__item-list-select--active">
                                                <option value="90">90</option>
                                                <option value="130">130</option>
                                                <option value="154">154</option>
                                                <option value="230">230</option>
                                                <option value="300">300</option>
                                            </select>
                                        </div>
                                        <div class="filter__item-list">
                                            <p class="filter__item-list-title">Макс. скорость</p>
                                            <select
                                                class="filter-style filter__item-list-select filter__item-list-select--active">
                                                <option value="90">90</option>
                                                <option value="130">130</option>
                                                <option value="154">154</option>
                                                <option value="230">230</option>
                                                <option value="300">300</option>
                                            </select>
                                        </div>
                                    </li>


                                    <li class="aside-filter__item-drop">
                                        <p
                                            class="aside-filter__item-title filter__item-drop filter__item-drop--active">
                                            Бренд</p>
                                        <div class="aside-filter__content">
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox" checked>
                                                    BRP
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox" checked>
                                                    Spark 2
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    Spark 3
                                                </label>
                                            </div>
                                            <div class="filter-more">
                                                <button class="filter-more__btn" type="submit">Показать
                                                    ещё</button>
                                            </div>
                                        </div>
                                    </li>


                                    <li class="aside-filter__item-drop">
                                        <p
                                            class="aside-filter__item-title filter__item-drop filter__item-drop--active">
                                            Модель</p>
                                        <div class="aside-filter__content">
                                            <input class="filter-search" type="text"
                                                placeholder="Введите модель ">
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox" checked>
                                                    Sea-doo Spark 2
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox" checked>
                                                    SeaDoo Spark 90
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    SeaDoo GTI 155
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    SeaDoo GTR 230
                                                </label>
                                            </div>
                                            <div class="filter-more">
                                                <button class="filter-more__btn" type="submit">Показать
                                                    ещё</button>
                                            </div>
                                        </div>
                                    </li>


                                    <li class="aside-filter__item-drop btn-checked">
                                        <p
                                            class="aside-filter__item-title filter__item-drop filter__item-drop--active">
                                            Акции</p>
                                        <div class="aside-filter__content">
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox" checked>
                                                    <span class="btn-checked__text">SALE</span>
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    <span class="btn-checked__text">NEW</span>
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    <span class="btn-checked__text">HIT</span>
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    <span class="btn-checked__text">ДИЛЕР</span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>


                                    <li class="aside-filter__item-drop">
                                        <p
                                            class="aside-filter__item-title filter__item-drop filter__item-drop--active">
                                            Страны</p>
                                        <div class="aside-filter__content">
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox" checked>
                                                    Россия
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox" checked>
                                                    Германия
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    Китай
                                                </label>
                                            </div>
                                            <div class="aside-filter__content-box">
                                                <label class="aside-filter__content-label">
                                                    <input class="filter-style" type="checkbox">
                                                    CША
                                                </label>
                                            </div>
                                            <div class="filter-more">
                                                <button class="filter-more__btn" type="submit">Показать
                                                    ещё</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="aside-filter__item-drop aside-filter__item-btn">
                                        <button class="filter-btn__send filter-btn__send--active"
                                            type="submit">ВЫБРАТЬ</button>
                                        <p class="filter__extra">Дополнительные параметры</p>
                                        <div class="filter__extra-content">more</div>
                                        <button class="filter-btn__reset" type="submit">Сбросить
                                            фильтр</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div id="filter-2" class="tabs-content aside-filter__tabs-content tabs-content--active">content-2</div>
                    </div>
                </div>
            </aside>
            <div class="catalog__inner-list">
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-1.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-2.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item product__item--sale">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-3.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-4.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-5.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item product__item--sale">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-6.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-7.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-8.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item product__item--sale">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-9.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-10.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-11.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
                <div class="product__item-wrapper">
                    <button class="product__item-favorite">
                        <img src="../images/svgElements/heart.svg" alt="icon-heart">
                    </button>
                    <button class="product__item-basket">
                        <img src="../images/svgElements/basket-white.svg" alt="icon-basket">
                    </button>
                    <a href="#" class="product__item-notify-link"><span>Сообщить о
                            поступлении</span></a>
                    <a href="#" class="product__item product__item--sale">
                        <p class="product__item-hover-text">посмотреть товар</p>
                        <img src="../images/content/gydro-12.png" alt="image" class="product__item-img">
                        <h4 class="product__item-title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
                        <p class="product__item-price price">9 800 ₽</p>
                        <p class="product__item-notify-text">нет в наличии</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>